<!DOCTYPE html>
<html lang="en" dir="ltr">
  <head>
    <meta charset="utf-8">
    <title>Blog - Mauricio Visgueira</title>
  </head>
  <body>
      <div>
          <h1><a href="/">Blog - Mauricio Visgueira</a></h1>
      </div>

      <div>
        <p>publicado: 15.11.2018, 22:41</p>
        <h2><a href="">Meu primeiro post</a></h2>
        <p>Apaixonado por Tecnologia, Desenvolvimento Web e Mobile</p>
      </div>

      <div>
          <p>publicado: 15.11.2018, 22:43</p>
          <h2><a href="">Meu segundo post</a></h2>
          <p>Hoje o dia foi muito produtivo no aprendizado em Django.</p>
      </div>
  </body>
</html>
